/*
* Farben in _variables.scss anpassen
*/
.navbar-brand{
    color: var(--maingreen) !important;
}

/*
* Farben in _variables.scss anpassen
*/
.card-title {
    color: var(--maingreen) !important;
    font-weight: 600 !important;
}
.card {
    border: 0.2em solid var(--lightgreen) !important;
}

/*
* Farben in _variables.scss anpassen
*/
.accordion-button {
    &:not(.collapsed) {
         background-color: var(--lightgreen) !important;
         color: white !important;
     }
 }

/*
* Farben in _variables.scss anpassen
*/
.btn-green {
    color: white !important;
    background-color: var(--maingreen) !important;
}