:root {
    --darkgreen: #002601;
    --maingreen: #034001;
    --lightgreen: #669966;
    --orange: #BB6A00;
    --brown: #591902;
    --lightgrey: #D9D7D7;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0.25em;
}

.navbar-brand{
    color: var(--maingreen);
}

