@import "bootstrap/scss/_variables.scss";

html {
    margin: 0;
    padding: 0;
    min-width: fit-content;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    text-align: justify;
}

footer {
    background-color: #444444;
    min-height: 50px;
    width: 100%;
}

footer a.navbar-brand {
    color: var(--lightgreen) !important;
}

footer a.nav-link {
    color: white !important;
}

.lead {
    padding-right: 10em;
}

:root {
    --darkgreen: #002601;
    --maingreen: #034001;
    --lightgreen: #669966;
    --yellow: #E2C444;
    --orange: #BB6A00;
    --brown: #591902;
    --blue: #1387C4;
    --lightgrey: #D9D7D7;
}

@font-face {
    font-family: Hanken Grotesk;
    src: url(fonts/HankenGrotesk-Regular.ttf) format('truetype');
}

* {
    font-family: "Hanken Grotesk", sans-serif;
    box-sizing: border-box;
}

.container {
    margin-top: 1.2em;
}

h1{
    font-family: "Hanken Grotesk",sans-serif;
    font-weight: 800;
}

.text-green{
    color: var(--lightgreen);
}

.main-pic{
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
}

.branch-pic {
    width: 40%;
    height: auto;
    right: 0;
    z-index: 2;
    position: absolute;
}

@media screen and (max-width: 991px){
    #uebersicht .row {
        display: grid;
        grid-template-columns: 1fr;

        .col-5 {
            width: 80vw;
        }

        .col-sm-12, .col-md-7{
            width: 100vw;
        }

        /*.branch-pic {
            width: 80%;
            height: auto;
        }*/
    }
}

@media screen and (max-width: 767px){
    .la {
        flex-direction: column;

        .small-pic {
            width: 15vw;
            height: auto;
        }

        .justify-content-center {
            margin-bottom: 2em;
        }
    }
    .soil{
        margin-left: 15vw;
    }
    .shovel {
        left: -34% !important;
    }
}

.small-pic {
    width: 5vw;
    height: auto;
}

.col-5 {
    margin-top: 5em;

    > h1.display-1 {
        margin-top: 1em;
    }
}

.fit-content {
    width: fit-content !important;
}

.container {
    margin-bottom: 5em;
}

/* make links grow on hover */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}

/*Sun spinning on hover*/
.spin {
    animation: spinning 2s infinite;
}

@keyframes spinning{
    0% {transform: rotate(0deg); }
    10% {transform: rotate(360deg); }
    25% {transform: rotate(0deg); }
}

/*watering can tilts on hover*/
.tilt {
    animation: watering 2s infinite;
    animation-delay: .5s;
}

@keyframes watering {
    0% { transform: rotate(0deg); }
    10% {transform: rotate(20deg); }
    30% {transform: rotate(0deg); }
}

/*Shovel in soil diggin'*/
.shovel {
    animation: shaking 2s infinite;
    animation-delay: 1s;
}

@keyframes shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    10% { transform: translate(5px, 5px) rotate(5deg); }
    20% { transform: translate(0, 0) rotate(0deg); }
    30% { transform: translate(-5px, 5px) rotate(-5deg); }
    40% { transform: translate(0, 0) rotate(0deg); }
}

.row {
    position: relative;
}

.layer {
    position: relative;
    height: auto;
}

.soil {
    position: relative;
    z-index: 1;
}

.shovel {
    position: relative;
    z-index: 2;
    left: -50%;
}
