:root {
    --darkgreen: #002601;
    --maingreen: #034001;
    --lightgreen: #669966;
    --orange: #BB6A00;
    --brown: #591902;
    --lightgrey: #D9D7D7;
}

@font-face {
    font-family: Hanken Grotesk;
    src: url(fonts/HankenGrotesk-Regular.ttf) format('truetype');
}

* {
    font-family: "Hanken Grotesk", sans-serif;
    box-sizing: border-box;
}

h1{
    font-weight: bolder;
}

body {
    padding: 0.25em;
}
